<div class="wrapper d-flex">
  <form class="search-form" (ngSubmit)="onSearch()" [formGroup]="searchForm">
  <div
    class="search-box d-flex justify-content-center align-items-center gap-2"
  >
   <i class="fa-solid fa-magnifying-glass"></i
   > <input [formControlName]="'searchValue'" placeholder="Search for a country..." type="text" />
  </div>
  </form>
  <div class="transparent">
    <form [formGroup]="filterForm">
    <select (change)="onFilter()" [formControlName]="'filteredValue'" >
      <option [ngValue]="null" [selected]="true" disabled>Filter by region</option>
      <option ngValue="All">All</option>
      <option ngValue="Asia">Asia</option>
      <option ngValue="Europe">Europe</option>
      <option ngValue="Africa">Africa</option>
      <option ngValue="Oceania">Oceania</option>
      <option ngValue="Americas">Americas</option>
      <option ngValue="Polar">Polar</option>
      <option ngValue="Antarctic Ocean">Antarctic Ocean</option>
    </select>
    </form>
  </div>
</div>
