<div class="wrapper">
  <div>
    <a data-test="return-button" class="return-button__link" (click)="returnToList()"
      ><i class="fa-solid fa-arrow-left-long"></i> <span>Back</span></a
    >
  </div>
  <div
    class="coutry-details__wrapper"
    *ngIf="coutryDetails$ | async as coutryDetails; else loading"
  >
    <div class="image-wrapper">
      <img
        data-test="flag-image"
        class="coutry-details__flag"
        [src]="coutryDetails.flags.png"
        alt=""
      />
    </div>
    <div class="content-wrapper">
      <div class="content-without-borders">
        <div class="desc-first-part">
          <div class="coutry-details__name">
            <span data-test="coutry-name">{{ coutryDetails.name }}</span>
          </div>
          <div class="coutry-details__text-line">
            <span >Native Name: </span
            ><span data-test="coutry-native-name">{{ coutryDetails.nativeName }}</span>
          </div>
          <div class="coutry-details__text-line">
            <span>Population: </span
            ><span data-test="coutry-population">{{ coutryDetails.population | number }}</span>
          </div>
          <div class="coutry-details__text-line">
            <span>Region: </span><span data-test="coutry-region">{{ coutryDetails.region }}</span>
          </div>
          <div class="coutry-details__text-line">
            <span>Sub Region: </span><span data-test="coutry-sub-region">{{ coutryDetails.subregion }}</span>
          </div>
          <div class="coutry-details__text-line mb-3">
            <span>Capital: </span><span data-test="coutry-capital">{{ coutryDetails.capital }}</span>
          </div>
        </div>
        <div class="desc-second-part">
          <div class="coutry-details__text-line">
            <span>Top Level Domain: </span
            ><span data-test="coutry-top-domain">{{ coutryDetails.topLevelDomain[0] }}</span>
          </div>

          <div class="coutry-details__text-line">
            <span>Currencies: </span>
            <ng-container *ngIf="coutryDetails.currencies; else noInformation">
              <span
                data-test="coutry-currency"
                *ngFor="
                  let currience of coutryDetails?.currencies;
                  let i = index
                "
                >{{ i ? ", " : "" }}{{ currience.name }}</span
              >
            </ng-container>
          </div>
          <div>
            <span class="coutry-details__text-line">Languages: </span>

            <ng-container *ngIf="coutryDetails.languages; else noInformation"
              ><span data-test="coutry-language" *ngFor="let lang of coutryDetails.languages; let i = index"
                >{{ i ? ", " : "" }}{{ lang.name }}</span
              ></ng-container
            >
          </div>
        </div>
      </div>
      <div class="mt-3 borders-wrapper">
        <div class="fw-bolder title"><span>Borded Coutries:</span></div>
        <div class="d-flex gap-2 justify-content-center">
          <span
            data-test="coutry-border"
            class="d-inline-block p-2 border-element"
            *ngFor="let border of coutryDetails.borders"
            >{{ border }}</span
          >
          <span data-test="no-borders" *ngIf="!coutryDetails.borders?.length"
            >This Coutry has no border coutries</span
          >
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<ng-template #noInformation>
  <span data-test="missing-data">Missing data</span>
</ng-template>
