@import "~bootstrap/dist/css/bootstrap.css";
@import "src/app/shared/styles/variables";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  --color-header:(0, 0%, 100%);
  --color-inputs:(0, 0%, 100%);
  --color-background:(0, 0%, 100%);
}
body.dark-theme{
  --color-background:hsl(209, 23%, 22%);
}
body{
  background-color: $color-light-gray!important;
  font-size: 62.5%;
  font-family: 'Nunito Sans', sans-serif;
}
